In [2]:
# Importing Model building libraries

In [3]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras_preprocessing import sequence
from keras.utils import to_categorical
from keras.models import load_model

In [4]:
#Importing NLTK libraries

In [7]:
import csv
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import nltk
nltk.download('stopwords')  
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
#Reading dataset and preprocessing

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
cd/content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [18]:
df = pd.read_csv('/content/drive/MyDrive/IBM/spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [20]:
#Reading dataset and preprocessing

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
cd/content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [24]:
df = pd.read_csv('/content/drive/MyDrive/IBM/spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [25]:
df.drop(['Unnamed: 2','Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [26]:
df.groupby(['v1']).size()

v1
ham     4825
spam     747
dtype: int64

In [27]:
#Label Encoding Required Column
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [28]:
# Test and train data split 
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [29]:
# Tokenisation function
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [30]:
#Create Model

In [32]:
#Add layers (LSTM ,Dense-(HiddenLayers),Ouput)

In [33]:
#LSTM model
inputs = Input(name='InputLayer',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FullyConnectedLayer1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='OutputLayer')(layer)
layer = Activation('sigmoid')(layer)

In [34]:
model = Model(inputs=inputs,outputs=layer)
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 InputLayer (InputLayer)     [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FullyConnectedLayer1 (Dense  (None, 256)              16640
 )

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 OutputLayer (Dense)         (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=25,validation_split=0.2)

Epoch 1/25
30/30 [==============================] - 12s 265ms/step - loss: 0.3265 - accuracy: 0.8759 - val_loss: 0.1350 - val_accuracy: 0.9589
Epoch 2/25
30/30 [==============================] - 7s 243ms/step - loss: 0.0853 - accuracy: 0.9805 - val_loss: 0.0610 - val_accuracy: 0.9810
Epoch 3/25
30/30 [==============================] - 8s 251ms/step - loss: 0.0465 - accuracy: 0.9857 - val_loss: 0.0484 - val_accuracy: 0.9852
Epoch 4/25
30/30 [==============================] - 9s 312ms/step - loss: 0.0375 - accuracy: 0.9897 - val_loss: 0.0415 - val_accuracy: 0.9863
Epoch 5/25
30/30 [==============================] - 8s 251ms/step - loss: 0.0288 - accuracy: 0.9916 - val_loss: 0.0437 - val_accuracy: 0.9863
Epoch 6/25
30/30 [==============================] - 7s 245ms/step - loss: 0.0217 - accuracy: 0.9939 - val_loss: 0.0412 - val_accuracy: 0.9873
Epoch 7/25
30/30 [==============================] - 7s 245ms/step - loss: 0.0162 - accuracy: 0.9955 - val_loss: 0.0439 - val_accuracy: 0.9884
Epoch 8/25
30/30 [==============================] - 7s 237ms/step - loss: 0.0095 - accuracy: 0.9968 - val_loss: 0.0552 - val_accuracy: 0.9873
Epoch 9/25
30/30 [==============================] - 7s 247ms/step - loss: 0.0074 - accuracy: 0.9976 - val_loss: 0.0759 - val_accuracy: 0.9873
Epoch 10/25
30/30 [==============================] - 7s 242ms/step - loss: 0.0067 - accuracy: 0.9976 - val_loss: 0.0612 - val_accuracy: 0.9905
Epoch 11/25
30/30 [==============================] - 7s 241ms/step - loss: 0.0052 - accuracy: 0.9987 - val_loss: 0.0756 - val_accuracy: 0.9884
Epoch 12/25
30/30 [==============================] - 7s 242ms/step - loss: 0.0041 - accuracy: 0.9989 - val_loss: 0.0827 - val_accuracy: 0.9873
Epoch 13/25
30/30 [==============================] - 7s 244ms/step - loss: 0.0033 - accuracy: 0.9989 - val_loss: 0.0835 - val_accuracy: 0.9884
Epoch 14/25
30/30 [==============================] - 8s 266ms/step - loss: 0.0020 - accuracy: 0.9995 - val_loss: 0.0918 - val_accuracy: 0.9905
Epoch 15/25
30/30 [==============================] - 8s 279ms/step - loss: 0.0020 - accuracy: 0.9997 - val_loss: 0.1057 - val_accuracy: 0.9884
Epoch 16/25
30/30 [==============================] - 7s 239ms/step - loss: 0.0019 - accuracy: 0.9997 - val_loss: 0.1180 - val_accuracy: 0.9895
Epoch 17/25
30/30 [==============================] - 7s 249ms/step - loss: 0.0015 - accuracy: 0.9997 - val_loss: 0.1233 - val_accuracy: 0.9905
Epoch 18/25
30/30 [==============================] - 8s 251ms/step - loss: 0.0017 - accuracy: 0.9992 - val_loss: 0.1287 - val_accuracy: 0.9884
Epoch 19/25
30/30 [==============================] - 7s 245ms/step - loss: 0.0015 - accuracy: 0.9997 - val_loss: 0.1407 - val_accuracy: 0.9863
Epoch 20/25
30/30 [==============================] - 7s 240ms/step - loss: 0.0015 - accuracy: 0.9997 - val_loss: 0.1546 - val_accuracy: 0.9831
Epoch 21/25
30/30 [==============================] - 7s 243ms/step - loss: 0.0014 - accuracy: 0.9995 - val_loss: 0.1545 - val_accuracy: 0.9863
Epoch 22/25
30/30 [==============================] - 7s 244ms/step - loss: 0.0014 - accuracy: 0.9997 - val_loss: 0.1689 - val_accuracy: 0.9800
Epoch 23/25
30/30 [==============================] - 7s 247ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 0.1782 - val_accuracy: 0.9852
Epoch 24/25
30/30 [==============================] - 7s 244ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 0.1902 - val_accuracy: 0.9842
Epoch 25/25
30/30 [==============================] - 7s 250ms/step - loss: 0.0014 - accuracy: 0.9997 - val_loss: 0.2081 - val_accuracy: 0.9821

In [36]:
model.save("Ai_Spam_Identifier")

WARNING:absl:Function `_wrapped_model` contains input name(s) InputLayer with unsupported characters which will be renamed to inputlayer in the SavedModel.
WARNING:absl:Found untraced functions such as lstm_cell_layer_call_fn, lstm_cell_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.

In [37]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [38]:
accuracy = model.evaluate(test_sequences_matrix,Y_test)
print('Accuracy: {:0.3f}'.format(accuracy[1]))

27/27 [==============================] - 1s 42ms/step - loss: 0.2662 - accuracy: 0.9749
Accuracy: 0.975

In [39]:
y_pred = model.predict(test_sequences_matrix)
print(y_pred[25:40].round(3))

27/27 [==============================] - 1s 22ms/step
[[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]]

In [40]:
print(Y_test[25:40])

[[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]]